<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>

	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
			<a class="navbar-brand" href="/">Car Manager</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a></li>
					<li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkTwo"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> New </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/new-charge">Charge</a> <a class="dropdown-item"
								href="/new-insurance">Insurance</a>
						</div></li>
					<li class="nav-item dropdown" th:if="${#authorization.expression('isAuthenticated()')}"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Vehicle </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/vehicle/new">New vehicle</a>
						</div></li>
					<li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}"><a
						class="nav-link" href="/my-vehicles">My vehicles</a></li>
					<li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}"><a
						class="nav-link" href="/login">Login</a></li>
				</ul>
				<ul class="nav navbar-nav ml-auto" th:if="${#authorization.expression('isAuthenticated()')}">
				    <span>user:&nbsp;</span>
					<span sec:authentication="name">username</span>
				</ul>
			</div>
		</nav>
	</div>

</body>
</html>